@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

body
            {
                margin: 0px;
                background-color: #c4c4c4;
                width: 2240px;   
                height: 1260px;           
            }

            table
            {
                margin: 0px;
                border: 0px;
                white-space: nowrap;
            }

            #mainframe
            {
                width: 100%;
                height: 100%;
            }

            .modal
            {
                display: none; /* Hidden by default */
                position: fixed;
                z-index: 2;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                background-color: rgba(0, 0, 0, 0.4);
            }

            #memoPopup
            {
                display: none;
            }

            #memoImg
            {
                width: 992px;
                height: 700px;
                position: absolute;
                left: 624px;
                top: 280px;
            }
            #memoClose
            {
                width: 30px;
                height: 30px;
                position: absolute;
                left: 1550px;
                top: 300px;
            }

            .memo
            {
                position: absolute;
                width: 90px;
                height: 90px;
                margin: 0px;
                left: 0px;
                top: 0px;
            }
            .btn_img
            {
                position: absolute;
                width: 239px;
                height: 90px;
                margin: 0px;
                left: 0px;
                top: 0px;
            }
#background
{
    background-color: #c4c4c4;
    position: absolute;
    left: 19px;
    top: 82px;
    width: 2202px;
    height: 1106px;
}
            #mainScene
            {
                position: absolute;
                left: 19px;
                top: 82px;
                width: 2202px;
                height: 1106px;
                border: 0px;
            }

            #MEMO
            {
                position: absolute;
                left: 850px;
                top: 1028px;
                width: 90px;
                height: 90px;
                margin: 0px;
                border: #c4c4c4;
            }

            #RETRY
            {
                position: absolute;
                left: 961px;
                top: 1028px;
                width: 239px;
                height: 90px;
                margin: 0px;
                border: #c4c4c4;
            }

            #NEXT
            {
                position: absolute;
                left: 1200px;
                top: 1028px;
                width: 239px;
                height: 90px;
                margin: 0px;
                border: #c4c4c4;
            }

#RETRY2
{
    display: none;
    position: absolute;
    left: 1702px;
    top: 22px;
    width: 239px;
    height: 90px;
    margin: 0px;
    border: #c4c4c4;
}

            #bagle
            {
                width: 2201px;
                height: 1105px;
                z-index: 1;
            }
            
            #visualizerFrame
            {
                position: absolute;
                left: 1623px;
                top: 70px;
                width: 319px;
                height: 344px;
            }
            
            #visualizer
            {
                position: relative;
                left: 0px;
                top: 0px;
                width: 319px;
                height: 344px;
            }

            #magnify
            {
                position: absolute;
                width: 293px;
                height: 289px;
                left: 13px;
                top: 39px;
            }

.cursorPoint
{
    border-radius: 50%;
    border: solid 5px white;
    background-color: rgb(60, 60, 200);
    width: 28px;
    height: 28px;
}
#firstPoint
{
    position: absolute;
    left: 896px;
    top: 410px;
}
#secondPoint
{
    position: absolute;
    left: 1320px;
    top: 825px;
}
#thirdPoint
{
    position: absolute;
    left: 1600px;
    top: 600px;
}
.guideBox
{
    font-family: 'Pretendard';
    font-size: 25px;
    font-weight: 600;
    border-radius: 7px;
    background-color: rgb(255, 253, 109);
    width: 290px;
    height: 80px;
    display: none;
    align-items: center;    
}
#firstBox
{
    position: absolute;
    left: 582px;
    top: 386px;
}
#secondBox
{
    position: absolute;
    left: 1006px;
    top: 801px;
}
#thirdBox
{
    position: absolute;
    left: 1660px;
    top: 576px;
}

@-webkit-keyframes floating1
{
    from { top: 460px; }
    to { top: 470px; }
}
@-webkit-keyframes floating2
{
    from { top: 875px; }
    to { top: 885px; }
}
@-webkit-keyframes floating3
{
    from { top: 650px; }
    to { top: 660px; }
}
.cursorImg
{
    width: 64px;
    height: 64px;
}
#firstCursor
{
    position: absolute;
    left: 900px;
    top: 465px;
    animation: floating1 0.8s linear infinite alternate;
}
#secondCursor
{
    position: absolute;
    left: 1324px;
    top: 880px;
    animation: floating2 0.8s linear infinite alternate;
}
#thirdCursor
{
    position: absolute;
    left: 1604px;
    top: 655px;
    animation: floating3 0.8s linear infinite alternate;
}

            #secondPage
            {
                background-color: #c4c4c4;
                position: absolute;
                left: 20px;
                top: 83px;
                width: 2202px;
                height: 1106px;
            }

            .secondframe
            {
                width: 2202px;
                height: 1106px;
                opacity: 50%;
            }

            .container
            {
                display: flex;
                position: absolute;
                overflow: hidden;
                left: 0px;
                top: 0px;
                width: 2202px;
                height: 1106px;
            }
            .item
            {
                flex-basis: auto;
            }
            #leftDiv
            {
                position: absolute;
                left: 250px;
                height: 200px;
                width: 750px;
                height: 1100px;
            }
            #searchBar
            {
                position: absolute;
                left: 10px;
                top: 60px;
                width: 740px;
                height: 90px;
            }
            #multimapFrame
            {
                position: absolute;
                left: 10px;
                top: 170px;
                width: 736px;
                height: 868px;
            }
#multimapTable
{
    font-family:'Pretendard';
    font-size: 20px;
    font-weight: 500;
}
            #multimapTable::-webkit-scrollbar
            {
                display: none;
            }

            #multimap
            {
                overflow: auto;
                position: absolute;
                left: 15px;
                top: 206px;
                width: 685px;
                height: 825px;
                margin: 0px;
            }
            #multimap::-webkit-scrollbar{
                display: none;
            }

            #multimapSelected
            {
                background-color: rgb(50, 100, 30);
            }

            .multimapName
            {
                width: 236px; 
                background-color: white;              
            }
            .multimapImage
            {
                width: 474px;
                background-color: rgba(255, 255, 0, 1);
            }
#multimapScrollBarSpace
{
    position: absolute;
    margin: 0px;
    left: 699px;
    top: 247px;
    width: 41px;
    height: 744px;
}
#multimapScrollBar
{
    position: relative;
    left: 0px;
    top: 0px;
}
#scrollBackground
{
    position: absolute;
    margin: 0px;
    left: 0px;
    top: 0px;
}
            

            #middleDiv
            {
                position: absolute;
                left: 1000px;
                width: 270px;
                height: 1100px;
            }
            #styleMenu
            {
                position: absolute;
                left: 5px;
                top: 197px;
                width: 254px;
                height: 434px;
            }
#style
{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    overflow: hidden;
    left: 11px;
    top: 261px;
    width: 242px;
    height: 152px;
}
#style::-webkit-scrollbar
{
    display: none;
}
.styleRow
{
    font-family: "Pretendard";
    font-size: 20px;
    font-weight: 500;
    align-items:center;
    display: flex;
    flex-wrap: wrap;
    width: 242px;
    height: 38px;
    color: black;
    background-color: white;
}
.styleCheck
{
    width: 32px;
    height: 38px;
}
.styleName
{
    width: 210px;
    height: 38px;
    align-items: center;
    display: flex;
}
#styleSelectedRow
{
    color: skyblue;
    background-color: rgba(100, 100, 100, 1);
}

#color
{
    position: absolute;
    overflow: hidden;
    left: 11px;
    top: 513px;
    width: 242px;
    height: 113px;
}
#color::-webkit-scrollbar
{
    display: none
}


            #rightDiv
            {
                position: absolute;
                left: 1270px;
                width: 700px;
                height: 1100px;
            }
            #verseJumperFrame
            {
                position: absolute;
                left: 12px;
                top: 197px;
                width: 681px;
                height: 838px;
            }
            


            #NEXT_SECOND
            {
                position: absolute;
                left: 452px;
                top: 88px;
                border: #c4c4c4;
            }
            
            #log
            {
                position: absolute;
                left: 2000px;
                top: 100px;
            }

            #capture
            {
                position: absolute;
                left: 725px;
                top: 106px;
                width: 813px;
                height: 1062px;
                z-index: 0;
            }
            #poster
            {
                display: flex;
                position: absolute;
                left: 0px;
                top: 0px;
                width: 813px;
                height: 1062px;
            }
#TYPO
{
    position: absolute;
    left: 240px;
    top: 650px;
    width: 245px;
    height: 180px;
}


#verceJumperTable
{
    width: 630px;
    height: 500px;
}
#testrow
{
    width: 100%;
    height: 500px;
}

#verceJumper
{
    /* opacity: 0.5; */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left: 37px;
    top: 259px;
    width: 630px;
    height: 750px;
    background-color: rgb(60, 60, 200);
    background-size: 26px 26px;
    background-image:
        linear-gradient(to right, #aaa 1px, transparent 1px),
        linear-gradient(to bottom, #aaa 1px, transparent 1px);
}

#verceJumper::-webkit-scrollbar
{
    display: none;
}

.verceJumperRow
{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 589px;
    height: 380px;
    border: dashed 3px rgba(0, 0, 0, 0);
}
.verceJumperRadio
{
    margin: 0px;
    width: 77px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.verceJumperRadioBtn
{
    border: solid 5px rgba(239, 217, 53, 1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.verceJumperImg
{
    margin: 0px;
    width: 512px;
    height: 100%;
    display: flex;
    align-items: center;
}

#verceJumperRowSelected
{
    border: dashed 3px rgba(239, 217, 53, 1);
}

#verceJumperScroll
{
    display: none;
    position: absolute;
    left: 628px;
    top: 259px;
    width: 41px;
    height: 750px;
}
#verceJumperScrollSpace
{
    position: absolute;
    left: 0px;
    top: 41px;
    width: 41px;
    height: 668px;
}
#verceJumperScrollBar
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 41px;
}

.radioStyle
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 500px;
}

[type="radio"]
{
    vertical-align: middle;
    appearance: none;
    margin: 6px;
    border: 3px solid yellow;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

[type="radio"]:checked
{
    background-color: yellow;
}