.hotdogfinger
{
    height: 209px;
}
#hotdogImg
{
    position: relative;
    left: 46px;
    width: 305px;
    height: 171x;
}
.VJhotdogfinger
{
    width: 571px;
    height: 321px;
}



.rock
{
    height: 120px;
}
#rockImg
{
    position: relative;
    left: 46px;
    width: 425px;
    height: 91px;
}
.VJrock
{
    width: 571px;
    height: 122px;
}

.rules
{
    height: 215px;
}
#rulesImg
{
    position: relative;
    left: 46px;
    width: 259px;
    height: 206px;
}
.VJrules
{
    width: 520px;
    height: 413px;
}

.eb
{
    height: 217px;
}
#ebImg
{
    position: relative;
    left: 46px;
    width: 330px;
    height: 206px;
}
.VJeb
{
    width: 570px;
    height: 356px;
}

.raccacoonie
{
    height: 206px;
}
#raccacoonieImg
{
    position: relative;
    left: 46px;
    width: 329px;
    height: 206px;
}
.VJraccacoonie
{
    width: 570px;
    height: 357px;
}

.charcoal
{
    height: 209px;
}
#charcoalImg
{
    position: relative;
    left: 46px;
    width: 326px;
}
.VJcharcoal
{
    width: 570px;
    height: 365px;
}

.bloat
{
    height: 217px;
}
#bloatImg
{
    position: relative;
    left: 46px;
    width: 337px;
}
.VJbloat
{
    width: 570px;
    height: 367px;
}

.michelle
{
    height: 209px;
}
#michelleImg
{
    position: relative;
    left: 46px;
    width: 291px;
}
.VJmichelle
{
    width: 570px;
    height: 409px;
}